$main-blue: #414f6b;
$text-grey: #4d4d4d;
$text-1: #a0a7b5;
$text-2: #677793;
$text-footer: #63769d;
$tab-bg: #b0b4be;

.footer {
  background-color: $main-blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer img {
  height: 2.5rem;
}

.footer p {
  color: $text-footer;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
