$main-blue: #414f6b;
$text-grey: #4d4d4d;
$text-1: #a0a7b5;
$text-2: #677793;
$text-footer: #63769d;
$tab-bg: #b0b4be;

.sticky {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky header {
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.sticky a {
  color: $main-blue;
  border-bottom: $main-blue 1px solid;
}

@media only screen and (min-width: 600px) {
  .sticky header {
    flex-direction: row;
    align-items: center;
  }
}
